src/lib/Zikula/ServiceManager/Loader/Xml/module.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://zikula.org/module/1.0/"
    xmlns:tns="http://zikula.org/module/1.0/"
    elementFormDefault="qualified">
    <xsd:element name="api">
        <xsd:complexType>
            <xsd:attribute name="module" type="xsd:string" use="required"/>
            <xsd:attribute name="type" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
